<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224513566383-fhba2fnb7m688vo6j5d6sr740c31rbpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224513566383-fhba2fnb7m688vo6j5d6sr740c31rbpu</string>
	<key>API_KEY</key>
	<string>AIzaSyA3GpnMgu7YfRD9ybPd8Bh6sU-bJyOXmD8</string>
	<key>GCM_SENDER_ID</key>
	<string>224513566383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestshop</string>
	<key>PROJECT_ID</key>
	<string>shopingmall-flutter-6ce8c</string>
	<key>STORAGE_BUCKET</key>
	<string>shopingmall-flutter-6ce8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224513566383:ios:bd6206ae48646f5926965a</string>
</dict>
</plist>